.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #FFFED3;
    padding-bottom: 30px;
    width: 35.5rem;
    /* 600px */
    border: #4C3BCF;
    border-radius: 5%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text {
    color: #4C3BCF;
    font-size: 48px;
    font-weight: 700;
}

.underline {
    width: 61px;
    height: 6px;
    background: linear-gradient(120deg, #B1AFFF, #BBE9FF);
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 25rem;
    height: 5rem;
    background: #FFE9D0;
    border-radius: 6px;
}

.input img {
    margin: 0px 30px;
    height: 1rem;
    width: 1rem;
}

.input input {
    height: 3.125rem;
    /* 50px */
    width: 25rem;
    /* 400px */
    background: transparent;
    border: none;
    outline: none;
    color: #7d959c;
    font-size: 1.1875rem;
    /* 19px */
}

.create-account {
    padding-left: 0px;
    font-size: 13px;
    margin-top: 0px;
}

.forgot-password {
    padding-left: 62px;
    margin-top: 27px;
    color: #B1AFFF;
    font-size: 18px;
}

.forgot-password span {
    color: #4C00B4;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #EAEAEA;
    color: #676767;
}